<div class="editor-row">
	<div class="section gf-form-group">
		<h5 class="section-heading">General</h5>
		<div class="gf-form">
			<span class="gf-form-label width-8">Type</span>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="gf-form-input" ng-model="ctrl.panel.pieType" ng-options="t for t in ['pie', 'donut', 'wordcloud']" ng-change="ctrl.render()"></select>
			</div>
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-8">Max. Number of Values</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.maxValues" ng-change="ctrl.render()">
		</div>

		<div class="gf-form">
			<span class="gf-form-label width-8">Unit</span>
			<div class="gf-form-dropdown-typeahead width-10"
				 ng-model="ctrl.panel.format"
				 dropdown-typeahead="ctrl.unitFormats"
				 dropdown-typeahead-on-select="ctrl.setUnitFormat($subItem)">
			</div>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-8">Value</span>
			<div class="gf-form-select-wrapper max-width-10">
				<select class="gf-form-input" ng-model="ctrl.panel.valueName" ng-options="v for v in ['min','max','avg', 'current', 'total']" ng-change="ctrl.render()"></select>
			</div>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-8">Divider width</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.strokeWidth" ng-change="ctrl.render()">
		</div>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Legend</h5>
		<gf-form-switch class="gf-form" label="Show Legend" label-class="width-10" checked="ctrl.panel.legend.show" on-change="ctrl.refresh()"></gf-form-switch>
		<div class="gf-form">
			<span class="gf-form-label width-10">Position</span>
			<div class="gf-form-select-wrapper">
				<select class="gf-form-input" ng-model="ctrl.panel.legendType" ng-options="t for t in ['On graph', 'Under graph', 'Right side']" ng-change="ctrl.render()"></select>
			</div>
		</div>
		<div class="gf-form" ng-if="ctrl.panel.legendType === 'On graph'">
			<span class="gf-form-label width-10">Font size</span>
			<div class="gf-form-select-wrapper">
				<select class="gf-form-input" ng-model="ctrl.panel.fontSize" ng-options="s for s in ['50%', '60%', '70%', '80%', '100%', '110%', '120%', '150%', '175%']" ng-change="ctrl.render()"></select>
			</div>
		</div>
		<gf-form-switch class="gf-form" label="Legend Values" label-class="width-10" checked="ctrl.panel.legend.values" on-change="ctrl.refresh()"></gf-form-switch>
		<gf-form-switch class="gf-form" label="Show Percentage" label-class="width-10" checked="ctrl.panel.legend.percentage" on-change="ctrl.refresh()"></gf-form-switch>
	</div>

	<div class="section gf-form-group">
		<h5 class="section-heading">Combine</h5>
		<div class="gf-form">
			<span class="gf-form-label width-8">Threshold:</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.combine.threshold" ng-change="ctrl.render()">
			<info-popover mode="right-absolute">Combines all slices that are smaller than the specified percentage (ranging from 0 to 1) i.e. a value of '0.03' will combine all slices 3% or less into one slice).</info-popover>
		</div>
		<div class="gf-form">
			<span class="gf-form-label width-8">Label</span>
			<input type="text" class="gf-form-input max-width-10" ng-model="ctrl.panel.combine.label" ng-change="ctrl.render()">
			<info-popover mode="right-absolute">Label text for the combined slice.</info-popover>
		</div>
	<bel text for the combined slice/div>
</div>
